@font-face {
  font-family: "Bariol";
  src: url("../font/Roboto/RobotoItalic/bariol_regular-webfont.eot" );

  src: url("../font/Roboto/RobotoItalic/bariol_regular-webfont.woff" ) format("woff"),
  url("../font/Roboto/RobotoItalic/bariol_regular-webfont.ttf" ) format("truetype");
  font-style: normal;
  font-weight: normal;

}