#header {
  position: relative;

  //HAMBURGER BUTTON
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham-burger {
    .top {
      stroke-dasharray: 40 160;
    }
    .middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }
    .bottom {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }
    &.active {
      .top {
        stroke-dashoffset: -64px;
      }
      .middle {
        transform: rotate(90deg);
      }
      .bottom {
        stroke-dashoffset: -64px;
      }
    }
  }
  //END HAMBURGER BUTTON

  .container {
    padding: 32px 0;
    border-bottom: 1px solid $white-20;

    @include xs-block() {
      border-bottom: none;
      padding: 20px 0;
    }
    .row {
      height: 40px;
      align-items: center;
      position: relative;
      .logo a {
        font-family: 'Formular';
        color: $white;
        font-size: 20px;
        line-height: normal;
        font-weight: 600;

        @include xs(color, $white-80);
      }
      nav {
        @include md(display, none);
        ul {
          display: flex;
          li {
            margin: 0 17px;
            a {
              position: relative;
              color: $white-40;
              font-size: 14px;
              line-height: normal;
              &:before, &:after {
                content: '';
                position: absolute;
                transition: transform .5s ease;
              }
            }
          }
        }
      }
      .effect-hover {
        display: inline-block;
        overflow: hidden;
        &:before, &:after {
          left: 0;
          width: 100%;
          height: 1px;
          background: $bg-gradient;
        }
        &:before {
          bottom: 0;
          transform:  translateX(-100%);
        }
        &:after {
          top: 0;
          transform:  translateX(100%);
        }
        &:hover:before, &:hover:after {
          transform:  translateX(0);
        }
      }
      .services-case {
        display: flex;

        @include xs(display, none);
        li {
          margin: 0 17px;
          a {
            position: relative;
            color: $white-40;
            font-size: 14px;
            line-height: normal;
            &:before, &:after {
              content: '';
              position: absolute;
              transition: transform .5s ease;
            }
          }
        }

      }
      .telephone-contact {
        color: $white-40;
        font-size: 14px;
        line-height: normal;

        @include xs(color, $white);
      }
      .bd-styles {
        @include md(display, none);
      }
    }
    .menu {
      display: none;
      position: absolute;
      top: 73px;
      width: 100%;
      z-index: 2;
      background: $bg-gradient;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          margin: 7px 0;
          a {
            color: $white-80;
          }
        }
      }
    }
  }
}