#header {
  position: relative;
  &.header-another-page {
    .container {
      border-bottom: 1px solid $dark-two-20;
      .logo {
        a {
          color: $dark-two-80 !important;
        }
      }
      a {
        color: $dark-two-60 !important;
      }
      .telephone-contact {
        color: $dark-two-60 !important;
      }
      .line {
        stroke: $black;
      }
    }
  }
  //HAMBURGER BUTTON
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  .ham-burger {
    .top {
      stroke-dasharray: 40 160;
    }
    .middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }
    .bottom {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }
    &.active {
      .top {
        stroke-dashoffset: -64px;
      }
      .middle {
        transform: rotate(90deg);
      }
      .bottom {
        stroke-dashoffset: -64px;
      }
    }
  }
  //END HAMBURGER BUTTON

  .container {
    padding: 32px 0;
    border-bottom: 1px solid $white-20;

    @include xs-block() {
      border-bottom: none;
      padding: 20px 0;
    }
    .row {
      height: 40px;
      align-items: center;
      position: relative;
      .logo a {
        font-family: 'Formular', sans-serif;
        color: $white;
        font-size: 20px;
        line-height: normal;
        font-weight: 600;

        @include xs(color, $white-80);
      }
      nav {
        @include md(display, none);
        ul {
          display: flex;
          li {
            padding: 0 17px;
            a {
              position: relative;
              color: $white-40;
              font-size: 14px;
              line-height: normal;
              &:before, &:after {
                content: '';
                position: absolute;
                transition: transform .5s ease;
              }
            }
          }
        }
      }
      nav, .services-case {
        li {
          position: relative;
          &.active:before {
            content: '';
            width: 100%;
            position: absolute;
            bottom: -44px;
            left: 0;
            height: 1px;
            background: $dark-two;
          }
        }
      }
      .effect-hover {
        display: inline-block;
        overflow: hidden;
        &:before, &:after {
          left: 0;
          width: 100%;
          height: 1px;
          background: $bg-gradient;
        }
        &:before {
          bottom: 0;
          transform: translateX(-100%);
        }
        &:after {
          top: 0;
          transform: translateX(100%);
        }
        &:hover:before, &:hover:after {
          transform: translateX(0);
        }
      }
      .services-case {
        display: flex;

        @include xs(display, none);
        li {
          padding: 0 17px;
          a {
            position: relative;
            color: $white-40;
            font-size: 14px;
            line-height: normal;
            &:before, &:after {
              content: '';
              position: absolute;
              transition: transform .5s ease;
            }
          }
        }

      }
      .telephone-contact {
        color: $white-40;
        font-size: 14px;
        line-height: normal;

        @include xs(color, $white);
      }
      .bd-styles {
        @include md(display, none);
      }
    }
    .menu {
      display: none;
      position: absolute;
      top: 73px;
      width: 100%;
      z-index: 2;
      background: $bg-body;
      > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          margin: 16px 0;
          a {
            font-size: 40px;
            line-height: 24px;
            letter-spacing: -0.06em;
            color: $white-40;
            &.active {
              color: $white;
            }
          }
        }
      }
      .location-social-network {
        background: $white;
        margin-top: 100px;
        padding: 38px 30px;
        margin-left: -15px;
        margin-right: -15px;
        p {
          font-family: 'Exo 2', sans-serif;
          text-align: left;
          font-size: 14px;
          line-height: 24px;
          color: $dark-two;
          max-width: 140px;
        }
        .social-network {
          display: flex;
          justify-content: space-between;
          width: 120px;
        }
      }
    }
  }
}