$bg-body: #161b2f;
$white: #fff;
$white-20: rgba(255, 255, 255, .2);
$white-40: rgba(255, 255, 255, .4);
$white-50: rgba(255, 255, 255, .5);
$white-60: rgba(255, 255, 255, .6);
$white-80: rgba(255, 255, 255, .8);
$black: #000;
$black-two: #05050f;
$black-70: rgba(0, 0, 0, .7);
$black-60: rgba(0, 0, 0, .6);
$black-50: rgba(0, 0, 0, .5);
$black-bg: #101322;
$blue: #7acff8;
$blue-20: rgba(122, 207, 248, .2);
$blue-two: #51C6DB;
$blue-three: #7acff8;
$dark-blue: #10173B;
$grey: #b2b2b2;
$grey-bg: #F3F3F3;
$dark: #2A2F4C;
$dark-two: #2A2F4C;
$dark-two-10: rgba(42, 47, 76, .1);
$dark-two-20: rgba(42, 47, 76, .2);
$dark-two-60: rgba(42, 47, 76, .6);
$dark-two-80: rgba(42, 47, 76, .8);
$bg-gradient: linear-gradient(189.48deg, #74EBD5 -49.07%, #0575E6 118.26%);
$gradient-two: linear-gradient(253.96deg, #74EBD5 -35.59%, #0575E6 107.75%);
