#what-was-done {
  background: $white;
  .container {
    .cap {
      background: url("../images/images/image-bg-what-was-done.svg") 100% 52% no-repeat;
      background-size: cover;

      @include fix-block() {
        background: url("../images/images/image-bg-what-was-done.svg") 50% 52% no-repeat;
        background-size: 280%;
      }
      h2 {
        padding: 205px 0;
        font-size: 56px;
        line-height: 44px;
        @include sm(padding, 112px 0);
        @include xs-block() {
          font-size: 32px;
          padding-top: 112px;
        }
      }
    }
    .step {
      margin-top: 94px;

      @include sm(margin-top, 56px);
      .cap-step {
        display: flex;
        align-items: center;
        position: relative;
        font-family: 'Formular';
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -0.04em;
        color: $dark-two;

        @include md-block() {
          flex-direction: column;
          align-items: center;
          font-size: 24px;
          text-align: center;
        }
        &.max-width {
          @include xs(max-width, 471px);

        }
        .number-step {
          padding-right: 23px;

          @include md(padding-right, 0);
        }
        .tooltip {
          position: absolute;
          left: 47px;
          top: 54px;



          @include md-block() {
            top: 110px;
            left: calc((100% - 375px) / 2);
          }
          @include xs-block() {
            position: relative;
            left: 0;
            width: 100%;
            top: 15px;
            max-width: 375px;
          }
        }
      }
      .margin-top {
        margin-top: 162px;
        @include xs(margin-top, 0);
      }
      .medium-margin-top {
        margin-top: 138px;
        @include xs(margin-top, 0);
      }
      .small-margin-top {
        margin-top: 74px;
        @include xs(margin-top, 40px);
      }
      .subtitle {
        font-family: 'Formular';
        font-weight: 500;
        font-size: 24px;
        line-height: 44px;
        letter-spacing: -0.04em;
        color: $black;
        margin-top: 57px;
        @include xs-block() {
          display: flex;
          align-items: center;
          margin-top: 36px;
        }
        img {
          @include xs(padding-right, 13px);
        }
      }
      .title-img {
        color: $black;
        font-family: 'Formular';
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
        font-weight: 500;
        .bitmap {
          margin-top: 40px;
          width: 100%;
          height: auto;
        }
      }
      p {
        font-family: 'Formular';
        font-size: 16px;
        line-height: 24px;
        color: $black;
        max-width: 784px;
        margin-top: 39px;
        &.fz-up {
          @include xs(font-size, 18px);
        }
        &.smaller-width {
          max-width: 634px;
        }
        @include xs(margin-top, 19px);
      }
      .ytp {
        margin-top: 54px;

        @include xs(margin-top, 20px);
        li {
          margin: 8px 0;
          display: flex;
          align-items: center;
          p {
            font-family: 'Formular';
            font-size: 16px;
            line-height: 24px;
            color: $black-70;
            margin-top: 0;
          }
          img {
            padding-right: 13px;

          }
        }
      }
      .formula-block {
        width: 100%;
        height: auto;
        min-height: 224px;
        background: linear-gradient(248.21deg, #FFBD6F 5.47%, #E87D7C 50.62%, #E5787E 53.36%, #B0539C 100.34%, #5321E2 122.7%);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        margin-top: 56px;

        @include xs-block() {
          min-height: 176px;
          margin-top: 18px;
          margin-left: -15px;
          padding-right: 30px;
          border-radius: 0;
        }
        .row, .col {
          align-items: center;
        }
        .row {
          @include xs(margin-left, 30px);
        }
        .cos {
          font-weight: bold;
          font-size: 96px;
          line-height: 20px;
          text-align: center;
          @include sm(font-size, 64px);
          @include xs(font-size, 48px);
        }
        .equally {
          font-weight: bold;
          font-size: 40px;
          line-height: 20px;
          text-align: center;
          padding: 0 40px;

          @include xs(padding, 0 20px);
        }
        .advertising-costs, .sales {
          font-weight: bold;
          text-align: center;
          font-size: 24px;
          line-height: 24px;
          padding: 24px 0;
          @include sm(font-size, 22px);
          @include xs(font-size, 16px);

          &.advertising-costs {
            border-bottom: 1px solid $white;
          }
        }
      }

      .block-bd {
        margin-top: 124px;
        position: relative;
        border: 4px solid transparent;
        border-image: $bg-gradient;
        border-image-slice: 1;
        padding: 77px 208px 59px 160px;
        &.smaller-block {
          padding: 50px 200px 50px 50px;
          @include sm(padding, 50px 25px 40px 25px)
        }
        @include sm-block() {
          padding: 77px 104px 59px 80px;
        }
        @include xs-block() {
          padding: 77px 10px 34px 24px;
          margin-top: 73px;
        }
        .cap-block {
          position: absolute;
          left: 44px;
          top: -35px;
          width: 488px;
          box-sizing: border-box;
          padding-left: 128px;
          font-family: 'Formular';
          font-size: 20px;
          line-height: 24px;
          color: $black;
          background: #fff;
          &.smaller-width {
            width: auto;
            padding: 0 25px;
            top: -18px;
          }
          @include sm(padding-left, 60px);
          @include xs-block() {
            width: 280px;
            left: 8px;
          }
          .description-person {
            font-size: 14px;
            color: $black-50;
            padding-top: 5px;
          }
        }
        .title-block {
          font-family: 'Formular';
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: $dark-two;
          position: relative;
          &.margin-left {
            @include xs(margin-left, 25px);
          }
          @include xs-block() {
            font-size: 16px;
            line-height: 24px;
          }
          &:before {
            content: '';
            background: url("../images/icons/icon-quotes.svg");
            width: 20px;
            height: 20px;
            position: absolute;
            top: 4px;
            left: -28px;
          }
        }
      }
      .list-block {
        margin-top: 40px;
        &.offset-left {
          padding-left: 35px;

          @include xs(padding-left, 0);
        }
        li {
          display: flex;
          margin: 8px 0;
          .number {
            font-family: 'Exo 2';
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            padding-right: 14px;
            color: $dark-two;
          }
          p {
            margin-top: 0;
          }
        }
      }
      .adaptive-img {
        width: 100%;
        height: auto;
      }
      .list {
        margin-top: 28px;
        padding-left: 35px;

        @include xs-block() {
          padding-left: 0;
          margin-top: 20px;
        }
        li {
          margin: 8px 0;
          display: flex;
          align-items: flex-start;
          p {
            font-family: 'Formular';
            font-size: 16px;
            line-height: 24px;
            color: #000;
            margin-top: 0;
          }
          img {
            padding-right: 13px;
            padding-top: 7px;
          }
        }
      }
      .ads {
        margin-top: 28px;
        margin-left: 35px;
        margin-right: 15px;
        max-width: 825px;
        width: 100%;
        height: auto;
        @include md(margin-left, 0);
      }
    }
    .block-continue {
      background: $dark;
      margin-top: 176px;

      @include xs-block() {
        margin-top: 56px;
        padding-top: 80px;
      }
      .continue {
        padding: 130px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include xs-block() {
          padding: 0 0 80px 0;
          background: $black-two;
        }
        h2 {
          @include xs(line-height, 44px);
        }
        a {
          margin-top: 32px;

          @include xs(margin-top, 17px);
        }
      }
    }
  }
}